.vscode/
CMakeFiles/
main
Makefile
cmake_install.cmake
*.txt
*.in
*.instance
to_polygon
optimal_polygon
evaluate
!resultsWithoutPreprocess.txt
!resultsWithPreprocess.txt
!instances_test
!instances_test/*
